.card-sec {
    width: 100%;
    background-color: #f7f8f8;
    padding: 2em ;
  }
  
  .sub-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5em;
  }
  
  .boxes {
    max-width: 350px;
    max-height: 350px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    padding: 2em 1.5em;
    border: 3px solid #4599b4;
    box-shadow: #0000003d 0px 3px 8px;
    font-family: sans-serif;
    cursor: pointer;
    margin-bottom: 2em;
  }
  
  .boxes:hover {
    transition: transform 1.2s ease; 
    transform: scale(1.05);
    box-shadow: #00000059 0px 10px 20px; 
  }
  .cards-img {
    height: 80px;
    width: 100px;
  }
  
  .cards-img img {
    height: 100%;
    width: 100%;
  }
  
  .card-h2 h2 {
    color: #eee; /* Changed to ensure visibility */
    font-weight: bold;
  }
  
  .card-h2 h2:hover {
    color: #f3972b;
  }
  
  .card-para p {
    color: #8b8b8b;
  }
  @media (max-width:396px){
    .boxes {
      max-width: 360px;
      max-height: 350px;
      gap: 0.5em;
      padding: 2em 0.5em;
    }
    .cards-img {
      height: 60px;
      width: 80px;
    }
  
    .cards-img img {
      height: 100%;
      width: 100%;
    }
    
    .card-h2 h2 {
      font-weight: 1.5rem
    }

    .card-para p {
      font-size: 0.9em;
    }
}